#encoding: UTF-8

<% provide(:title, 'Über uns') %>
<h1>Über uns</h1>
<p>
  Im Kurs "Entwicklung von Anwendungssystemen" wird auf Basis des Rails-Tutorials von
  Michael Hartl die Entwicklung einer einfachen Web-Applikation zur betriebswirtschaftlichen
  Entscheidungsunterstützung behandelt. Dies eine der dabei erstellten Beispiel-Applikationen,
  die als Demonstrator für die Lösung unterschiedlicher Planungsprobleme des Operations Managements
  dient.
</p>
