<% provide(:title, 'Kontakt') %>
<h1>Kontakt</h1>
<p>Wenn Sie Kontakt suchen, dann sollten Sie am
  <a href="http://www.prod.uni-hannover.de">Institut für Produktionswirtschaft</a> studieren!
</p>
