<% provide(:title, 'Hilfe') %>
<h1>Hilfe</h1>
<p>
  Wenn Sie Hilfe brauchen, dann sollten Sie in die Vorlesung kommen!
  Für Hilfe mit Ruby on Rails empfehlen wir das
  <a href="http://railstutorial.org">Rails Tutorial</a>.
</p>
