<div class="center hero-unit">
  <h1>Projektplanung</h1>
  <br/>
  <br/>
  <% if signed_in? %>
      <th><%= link_to "Zur Optimierung", rcpsp_path, class: "btn btn-info btn-large" %></th>
<%else %>
      <th><%= link_to "Anmelden", signup_path, class: "btn btn-primary btn-large" %></th>
      <th><%= link_to "Login", signin_path, class: "btn btn-info btn-large" %></th>
  <% end %>

</div>
