<div class="center hero-unit">
  <h1>Operations Management 1.0 (Demoanwendungen)</h1>


  <%= link_to "Melde Dich JETZT an!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>