<% provide(:title, 'Zuordnung des Vorgangs zur Ressource ändern') %>
<h1>Zuordnung des Vorgangs zur Ressource ändern</h1>

<%= render 'form' %>

<div class="btn-group btn-lg">
<%= link_to 'Anzeigen', @procedure_resource, :class => "btn" %>
<%= link_to 'Zurück', procedure_resources_path, :class => "btn" %>
</div>