<% provide(:title, 'Vorgangs-Ressourcen-Kombination') %>
<h1>Vorgangs-Ressourcen-Kombination</h1>


<p>
  <b>Vorgang:</b>
<td><%= procedure = Procedure.find(@procedure_resource.procedure_id)
        procedure.name %></td>
</p>


<p>
  <b>Ressource:</b>
<td><%= resource = Resource.find(@procedure_resource.resource_id)
        resource.name %></td>
</p>



<%= button_to 'Ändern', edit_procedure_resource_path(@procedure_resource), :class => "button", :method => :get %>
<%= button_to 'Zurück', procedure_resources_path, :class => "button", :method => :get %>
