<% provide(:title, 'Graph zur aktuellen Projektplanung') %>
<h1>Graph zur aktuellen Projektplanung</h1>

<br/>

<div class="center">
<img src="/assets/graph.png" />
</div>

<br/>

<div class="btn-group btn-lg">
  <%= link_to 'Zur체ck zu den Vorg채ngen', procedures_path, :class => "btn"%>
  <%= link_to 'Zur체ck zu den Vorgangsrelationen', procedure_procedures_path, :class => "btn"%>
  <%= link_to 'Zur체ck zur Projektplanung', rcpsp_path, :class => "btn"%>
</div>