<% provide(:title, 'Topologische Reihenfolge') %>
<h1>Topologische Reihenfolge</h1>

<p>
  <b>Von Vorgang:</b>
  <%= @procedure_procedure.prepro.name %>
</p>


<p>
  <b>Zu Vorgang:</b>
  <%= @procedure_procedure.sucpro.name %>
</p>


<div class="btn-group btn-lg">
<%= link_to 'Ändern', edit_procedure_procedure_path(@procedure_procedure), :class => "btn" %>
<%= link_to 'Zurück', procedure_procedures_path, :class => "btn" %>
</div>