<% provide(:title, 'Bearbeitung der Ressource') %>
<h1>Bearbeitung der Ressource</h1>

<%= render 'form' %>

<div class="btn-group btn-lg">
<%= link_to 'Anzeigen', @resource, :class => "btn" %>
<%= link_to 'Zurück', resources_path, :class => "btn" %>
</div>