<h1>Bearbeitung der Ressource</h1>

<%= render 'form' %>

<%= button_to 'Anzeigen', @resource, :class => "button", :method => :get %>
<%= button_to 'Zurück', resources_path, :class => "button", :method => :get %>
