<h1>Vorgangsbearbeitung</h1>

<%= render 'form' %>

<%= button_to 'Anzeigen', @procedure, :class => "button", :method => :get %>
<%= button_to 'Zurück', procedures_path, :class => "button", :method => :get %>
