<footer class="footer">
  <small>
    Demoanwendung von Stefan Helber
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über uns",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://www.prod.uni-hannover.de/aktuelles_produktion.html">Aktuelles</a></li>

    </ul>
  </nav>
</footer>
